body {
    font-family: "Roboto", sans-serif;
}

.alert-light {
    background-color: #F7F7F7;
    font-size: 0.9rem;
}

.alert-top {
    margin-bottom: 0;
}

.alert-light a {
    color: #000;
    text-decoration: underline;
}

a.navbar-brand {
    font-size: 2rem;
}

.nav-item {
    font-size: 0.8rem;
}

.nav-item.btn a {
    text-decoration: none;
}

.nav-item a {
    background-color: white;
    transition: ease-in-out 0.3s all;
}

.nav-item a:hover {
    background-color: #f0f0f0;
}

.nav-item.btn {
    transition: ease-in-out 0.3s all;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.18);
}

.nav-item.btn:hover {
    background-color: #f8f8f8;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.12);
}

main {
    height: 100%;
}

.btn-airbnb-radial {
    color: white;
    min-width: 100px;
    background-size: 200% 200% !important;
    background-image: linear-gradient(to right, #E61E4D 0%, #E31C5F 50%, #D70466 100%) !important;
}

.btn-airbnb-radial:hover {
    background-image: radial-gradient(circle at center, #FF385C 0%, #E61E4D 27.5%, #E31C5F 40%, #D70466 57.5%, #BD1E59 75%, #BD1E59 100%) !important;
    color: white;
}